@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.btn {
  display: inline-flex;
  align-items: center;
  gap: $spacing-unit;
  color: $color-accent;
  padding: (1.2 * $spacing-unit) (2.4 * $spacing-unit);
  background-color: $color-surface;
  text-transform: uppercase;
  border-radius: $radius-sm;
  cursor: pointer;

  @include thin-border();
  @include smooth-transition();

  &__arrow::after {
    content: " →";
    display: inline-block;
    font-size: (2 * $spacing-unit);

    @include smooth-transition();
  }

  &:hover {
    color: $color-text;
    background-color: $color-border;
    border-color: $color-text;
    &.btn__arrow::after {
      transform: translateX(4px);
    }
  }
}
