@use 'variables' as *;

@mixin media($breakpoints) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);
        @if $value == 0 {
            @content;
        } @else {
            @media (min-width: $value) {
                @content;
            }
        }
    } @else {
        @warn "Не нашли нужный breakpoint :(";
    }
}

@mixin thin-border($color: $color-border) {
    border: $border-thin solid $color;
}

@mixin smooth-transition($property: all) {
    transition: $property 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}